<div class="container mt-4">
  <h2 class="mb-4">Employee Transactions</h2>

  <div class="form-group mb-4">
    <label for="datePicker">Select Date:</label>
    <input 
      type="date" 
      id="datePicker" 
      class="form-control" 
      [(ngModel)]="selectedDate" 
      (change)="onDateChange()" />
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>In Time</th>
        <th>Out Time</th>
        <th>Photo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.first_name }} {{ transaction.nickname }}</td>
        <td>{{ transaction.tr_date | date }}</td>
        <td>{{ transaction.in_time }}</td>
        <td>{{ transaction.out_time }}</td>
        <td>
          <img 
            [src]="getPhotoUrl(transaction.emp_code)" 
            alt="Employee Photo" 
            class="employee-photo"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
