<div class="transaction-container">
  <!-- Date Picker -->
  <div class="date-picker-container">
    <label for="transaction-date">Select Date:</label>
    <input 
      type="date" 
      id="transaction-date" 
      [(ngModel)]="selectedDate" 
      (change)="onDateChange()" 
      class="date-picker"
    />
  </div>

  <!-- Transactions List -->
  <div class="transactions-list">
    <table>
      <thead>
        <tr>
          <th>Employee Code</th>
          <th>First Name</th>
          <th>Nickname</th>
          <th>Punch Time</th>
          <th>Upload Time</th>
          <th>Photo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.emp_code }}</td>
          <td>{{ transaction.first_name }}</td>
          <td>{{ transaction.nickname }}</td>
          <td>{{ transaction.punch_time| date:'shortTime'}}</td>
          <td>{{ transaction.upload_time | date:'shortDate'}}</td>
          <td>
            <img 
            [src]="getPhotoUrl(transaction.emp_code)" 
              alt="Employee Photo" 
              class="employee-photo"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
